{% extends "base.html" %}
{% block content %}

<h1>Executable Philosophy</h1>

<h3>What is Executable Philosophy?</h3>
<p>
  <strong>Executable Philosophy</strong> is a new philosophical
  methodology that encourages us to do philosophy in
  a <em>programming</em> language rather than a <em>natural</em>
  language (like English or German).

  <br><br>

  This methodology enables us to:

  <ol>
    <li>compute philosophical facts,</li>
    <li>declare and enforce well-defined constraints on each type of philosophical theory,</li>
    <li>weigh philosophical theories according to such constraints,</li>
    <li>
      create well-defined representations of objects (including
      abstract, mental, virtual, and physical objects),
    </li>
    <li>
      programmatically uncover sets of inconsistent would-be
      "counterexamples" leveled at philosophical theories,
    </li>
    <li>
      remove human intuition from the chain of <em>argument</em>
      justification (though perhaps not <em>theory</em> justification),
    </li>
    <li>
      automatically detect various types of flaws in
      (programmatically-specified) philosophical arguments,
    </li>
  </ol>

  such as those below, and much more.
</p>

{# TODO: Implement something like
<h3>Examples of Executable Philosophy</h3>
http://blogs.sitepointstatic.com/examples/tech/css3-target/tabs.html#tab1
#}


<h3>ExPhil Introductory Lectures</h3>

<h4>"What Is Executable Philosophy?" Part 1</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/QW3PgETvlkk" frameborder="0" allowfullscreen></iframe>

<br>
<br>

<h4>"What Is Executable Philosophy?" Part 2</h4>
Coming very soon

<br>


{# TODO
<h3>Vision</h3>
<p>Coming soon</p>
#}

{# TODO
<h3>Unsolved Problems in ExPhil</h3>
<p>Coming soon</p>
<br>
#}


<h3>Code</h3>
<p>
  You can check out much of the existing ExPhil code
  at <a href="http://code.executablephilosophy.org">code.executablephilosophy.org</a>.
</p>

<h3>Contact</h3>
<p>
  Interested in ExPhil?  Great!  Feel free to email me, Steven
  Phillips, the creator of ExPhil,
  at <a href="mailto:sdp@stevendphillips.com">sdp@stevendphillips.com</a>.
</p>

{% endblock %}
