{% extends "base.html" %}
{% block content %}

<h1>Executable Philosophy</h1>

<h3>What is Executable Philosophy?</h3>
<p>
  <strong>Executable Philosophy</strong> is a new philosophical
  methodology that encourages us to do philosophy in
  a <em>programming</em> language rather than a <em>natural</em>
  language (like English or German).

  <br><br>

  This methodology enables us to:

  <ol>
    <li>compute philosophical facts,</li>
    <li>declare and enforce well-defined constraints on each type of philosophical theory,</li>
    <li>weigh philosophical theories according to such constraints,</li>
    <li>
      create well-defined representations of objects (including
      abstract, mental, virtual, and physical objects),
    </li>
    <li>
      programmatically uncover sets of inconsistent would-be
      "counterexamples" leveled at philosophical theories,
    </li>
    <li>
      remove human intuition from the chain of <em>argument</em>
      justification (though perhaps not <em>theory</em> justification),
    </li>
    <li>
      automatically detect various types of flaws in
      (programmatically-specified) philosophical arguments,
    </li>
  </ol>

  such as those below, and much more.
</p>


<h3>ExPhil Introductory Lectures</h3>

<h4>"What Is Executable Philosophy?" Part 1</h4>

<p>Start here.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/QW3PgETvlkk" frameborder="0" allowfullscreen></iframe>

<br>
<br>

{#
<h4>"What Is Executable Philosophy?" Part 2</h4>

<p>Coming soon.</p>

<br>
<br>
#}

<h4>Intro to Executable Philosophy: Part 1</h4>

<p>
  This video provides a high-level perspective on ExPhil and tries to
  make clear why we should find it so appealing, in addition to
  covering what is wrong with Analytic Philosophy.
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/5XKUm4G_P2k" frameborder="0" allowfullscreen></iframe>

<br>
<br>

<h4>Intro to Executable Philosophy: Part 2</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/tL5VEPf2Cb8" frameborder="0" allowfullscreen></iframe>

<br>


<h3>ExPhil in Action</h3>

{% for example in examples %}

<h4 id="example{{ loop.index }}">Example #{{ loop.index }}: {{ example.title }}</h4>
<script src="http://gist-it.appspot.com/{{ example.embed_url }}"></script>
<br>

<h4>{{ example.title }} output</h4>
<pre>{{ example.output }}</pre>

<br>
{% endfor %}


<h3>More Code</h3>
<p>
  You can check out much of the existing ExPhil code
  at <a href="http://code.executablephilosophy.org">code.executablephilosophy.org</a>.
</p>


{# TODO: Implement something like
<h3>Examples of Executable Philosophy</h3>
http://blogs.sitepointstatic.com/examples/tech/css3-target/tabs.html#tab1
#}

{# TODO
<h3>Vision</h3>
<p>Coming soon</p>
#}

{# TODO
<h3>Unsolved Problems in ExPhil</h3>
<p>Coming soon</p>
<br>
#}


<h3>Join the Discussion</h3>
<p>
  Come ask questions about ExPhil or discuss it further via
  <a href="https://groups.google.com/forum/#!forum/executablephilosophy">
  the new Google Group</a>.
<p/>


<h3>Contact</h3>
<p>
  Feel free to email me, Steven Phillips (creator of ExPhil),
  at <a href="mailto:steve@tryingtobeawesome.com">steve@tryingtobeawesome.com</a>.
</p>

{% endblock %}
